.idea
out
*.class
*.DS_Store
/*.xml
/*/*.xml

*.jar
*.war
*.ear
*.iml
*.ipr
*.iws

dataTaskA.bin
dataTaskB.bin
dataTaskC.bin

resultTaskA.txt
resultTaskB.txt
resultTaskC.txt

matrix.txt

TaskA.txt
TaskB.txt
TaskC.txt

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/src/by/it/gerasimov/temp/
/src/by/it/gerasimov/calc/log.txt
/src/by/it/gerasimov/calc/vars.txt
